body {
  font-family: 'Nata Sans', sans-serif;
  margin: 0;
  background-color: #212121;
  color: #ccdbe2;
}

.container {
  max-width: 950px;
  margin: auto;
  padding: 20px;
  background: rgb(24, 24, 24);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header, section, footer {
  margin-bottom: 20px;
}

.foto-perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid #0074b8;
}


h1 {
  color: #005a8d;
  margin-bottom: 0;
  font-size: xx-large;
}

h2 {
  color: #0074b8;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

ul {
  padding-left: 20px;
}

a {
    color: #ccc;
    text-decoration: none;
}

.botao-download {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #0074b8;
  color: white;
  border-radius: 5px;
  font-size: 0.9em;
}

.botao-download:hover {
  background-color: #0288d1;
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: #777;
}
